<template name="Fancybox">
  {{#if props.pictures}}
    <a data-fancybox="{{props.id}}" href="{{firstPicture}}"><img src="{{firstPicture}}"></a>
    {{#each item in pictures}}
      <a class="d-none" data-fancybox="{{props.id}}" href="{{item}}"><img src="{{item}}"></a>
    {{/each}}
  {{else}}
    <img src="{{firstPicture}}">
  {{/if}}
</template>
